body {
  font-family: Arial;
  margin: 0;
}

header {
  background: black;
  color: white;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.burger {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

.hero {
  background: lightblue;
  padding: 40px;
  text-align: center;
}

section {
  padding: 20px;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}
